* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  background: #181a26;
  height: 100%;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.robber {
  background: url("./images/spritesheet.png") 0 0 no-repeat;
  height: 141px;
  width: 98px;
  animation: blast-cycle 1s steps(43) infinite backwards;
  position: absolute;
  left: 45%;
  top: 70%;
}
.police {
  background: url("./images/police.png") 0 0 no-repeat;
  height: 141px;
  width: 80px;
  animation: police-cycle 1s steps(6) infinite both;
  position: absolute;
  left: 10%;
  top: 65%;
}
.car {
  background: url("./images/car.png") 0 0 no-repeat;
  height: 131px;
  width: 270px;
  animation: car-cycle 2s steps(4) infinite both;
  position: absolute;
  left: 5%;
  top: 55%;
}
.Bus {
  background: url("./images/Bus.png") 0 0 no-repeat;
  height: 140px;
  width: 315px;
  animation: bus-cycle 1s steps(4) infinite both;
  position: absolute;
  left: 55%;
  top: 75%;
  transform: scaleX(-1);
}
.back {
  background: rgb(46, 40, 40);
  height: 39%;
  width: 100%;
  position: absolute;
  top: 62%;
}

.cloud2 {
  position: absolute;
  left: 37%;
  top: 51px;
  transform: scaleX(-1.5);
}
.cloud3 {
  position: absolute;
  left: 30%;
  top: 20px;
  transform: scaleX(1.2);
}
.cloud_small {
  position: absolute;
  left: 80%;
  bottom: -80px;
}
.cloud_small_1 {
  position: absolute;
  left: 75%;
  bottom: -82px;
}
.pole1 {
  position: absolute;
  left: 70%;
  top: 458px;
}
.pole2 {
  position: absolute;
  left: 10%;
  top: 260px;
}
.moon {
  position: absolute;
  left: 70%;
  top: -38px;
}
@keyframes blast-cycle {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -4300px 0;
  }
}
@keyframes police-cycle {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -494px 0;
  }
}
@keyframes car-cycle {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1099px 0;
  }
}
@keyframes bus-cycle {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1272px 0;
  }
}

.Text {
  position: absolute;
  top: 10px;
}

.cld-2 {
  position: absolute;
  top: 10px;
  left: 76px;
}
.cld-3 {
  position: absolute;
}
.cld-1 {
  position: absolute;
  left: 71px;
  top: -27px;
  transform: scale3d(1.1, 1.1, 1.1);
}
.cld-4 {
  position: absolute;
  left: 425px;
  top: 60px;
  transform: scale3d(1.5, 1.5, 1.5);
}

/* Loader */

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #242f3f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;

  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}
