* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  background: #181a26;
  height: 100%;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.robber {
  background: url("./spritesheet.png") 0 0 no-repeat;
  height: 141px;
  width: 98px;
  animation: blast-cycle 1s steps(43) infinite backwards;
  position: absolute;
  left: 45%;
  top: 70%;
}
.police {
  background: url("./police.png") 0 0 no-repeat;
  height: 141px;
  width: 80px;
  animation: police-cycle 1s steps(6) infinite both;
  position: absolute;
  left: 10%;
  top: 65%;
}
.car {
  background: url("./car.png") 0 0 no-repeat;
  height: 131px;
  width: 270px;
  animation: car-cycle 2s steps(4) infinite both;
  position: absolute;
  left: 5%;
  top: 45%;
}
.back {
  background: rgb(46, 40, 40);
  height: 50%;
  width: 100%;
  position: absolute;
  top: 54%;
}

.cloud2 {
  position: absolute;
  left: 30%;
  top: 185px;
}
.cloud3 {
  position: absolute;
  left: 25%;
  top: 185px;
}
.cloud_small {
  position: absolute;
  left: 80%;
  bottom: -80px;
}
.cloud_small_1 {
  position: absolute;
  left: 75%;
  bottom: -82px;
}
.pole1 {
  position: absolute;
  left: 70%;
  top: 280px;
}
.pole2 {
  position: absolute;
  left: 10%;
}
.moon {
  position: absolute;
  left: 70%;
  top: -210px;
}
@keyframes blast-cycle {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -4300px 0;
  }
}
@keyframes police-cycle {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -494px 0;
  }
}
@keyframes car-cycle {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1099px 0;
  }
}
