* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
}

.tuna {
  background: url(http://stash.rachelnabors.com/img/codepen/tuna_sprite.png) -800px -2000px
    no-repeat;
  height: 278px;
  width: 331px;
  position: absolute;
  left: 50%;  
  top: 50%;
  transform: translate(-50%, -50%);
}

.running .tuna {
  animation: run-cycle 1s 4s steps(12) infinite backwards;
  /* 4s is the delay here  */
}

@keyframes run-cycle {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: -1200px -2391px;
    /* The reason for using -2390 instead of -2400 is that it shows a slight lag in between which makes it ugly in look  */
  }
}

.sitting .tuna {
  animation: sit-down 0.5s steps(5) forwards;
}

@keyframes sit-down {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: -400px -1000px;
  }
}

menu {
  background: black;
  margin: 0;
  padding: 1em;
  text-align: center;
}

button {
  background: #0097c0;
  color: #e3edf2;
  cursor: pointer;
  border: 0;
  border-radius: 0.25em;
  padding: 0.25em 2em;
}

.animated button {
  transition: color 200ms ease-out, background 200ms ease-out,
    transform 300ms ease-out;
}

button:hover {
  background: #a69feb;
  transform: translate(0.1em, 0.1em);
}

.announce {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  position: relative;
  margin: 3em 0 0 0;
}

p {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.running p {
  animation: reveal 1s ease-out;
}

.running p:nth-child(1n) {
  animation-delay: 1150ms;
}

.running p:nth-child(2n) {
  animation-delay: 2150ms;
}

.running p:nth-child(3n) {
  animation-delay: 3150ms;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  67% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
